@import "bulma";
@import "~open-iconic/font/css/open-iconic.css";

$distance-value: 16px;

.padding {
    padding: $distance-value;
}

.margin {
    margin: $distance-value;
}

.margin-top {
    margin-top: $distance-value;
}

.margin-bottom {
    margin-bottom: $distance-value;
}

.margin-left {
    margin-left: $distance-value;
}

html,
body,
#root {    
    height: 100%;
    background-color: #fafafa;
}

.oi[data-glyph]:empty:before {
    vertical-align: middle;
}