@import "bulma";
@import "~open-iconic/font/css/open-iconic.css";

$distance-value: 16px;

.padding {
    padding: $distance-value;
}

.margin {
    margin: $distance-value;
}

html,
body,
#root {    
    height: 100%;
}